h1{
  text-align: center;
}

.nav-buffer{
  margin-top: 30px;
}

#top2{
  margin-top: 30px;
}

#check_in{
  margin-left: 40px;
}

#check_out{
  margin-left: 40px;
}

#search{
  margin-left: 40px;
}

#text3{
  margin-left: 20px;
}

#text4{
  margin-left: 20px;
}

.btn-info{
  margin-left: 40px;
}

#divN{
  margin-top:30px;
}

#divNB{
  margin-top:30px;
}

#divL{
  margin-top:30px;
}
.col-md-3{
  margin-top: 50px;
  margin-left:-15px ;
}

.dropdown-menu{
  padding-left: 15px;

}
